/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235)
}
p:first-child {
	color:white;
	background-color:black;
}
p:nth-child(2){
	color:black;
}
p:last-child{
	color:red;
}
li {
	background-color:gray;
	width:50%;
	padding:10px;
	
}
li:first-child{
	font-size:22px;
}
li:last-child{
	font-size:22px;
}
.pink{
	background-color:pink;
}
li:nth-child(2n+1){
	background-color:white;
}